{% extends 'shop/basic.html' %}
{% block title%} Shoping Cart Tracker{% endblock %}
{% block body %}
<div class="container">

    <div class="col my-4">

        <p class="text-info my-4"> {{response}}</p>

        <div
            class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow my-4">
            <h5 class="text-info">Payment status regarding your order Id {{response.ORDERID}}</h5>
            {% if response.RESPCODE == '01' %}
            <p class="text-success font-weight-bold"> ORDER SUCCESS</p>
            {% else %}
            <p class="text-danger font-weight-bold">ORDER FAILURE</p>
            {% endif%}

        </div>


    </div>

</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}